.btn {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 45px;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #4d76dd;
  color: aliceblue;
  text-transform: uppercase;
}
